@using WebGrease.Css.Extensions
@{
    ViewBag.Title = "About";


}
<link href="/css/AboutStyles.css" rel="stylesheet">
<link href="/Content/bootstrap.css" rel="stylesheet">
<h1>@ViewBag.Title</h1>
<!--<h3>@ViewBag.Message</h3>-->

<div class="orange-box">

    <p>
        ExperienceIT is a <strong>FREE</strong> training program for aspiring technology professionals. If you are looking for a unique training experience,
        the chance to network with top IT professionals in the industry, and an opportunity to interview with great companies, we are the
        program for you! Classes are online and in downtown Detroit.
        <br />

        <h3>Business Info:</h3>
        ExperienceIT's first class started on June 15, 2012
        <br />
        <br />
        <h3>Mission:</h3>
        Develop and execute continued educational training and practical experience for aspiring IT professionals; delivering alignment between the region’s
        information technology employers and curricula taught by participating academic institutions.
        <br />
        <br />

        <h3>Student Profile:</h3>
        The strength of the program is in its diversity - we look for students from all backgrounds! Whether the candidate is an established business professional with 25 years of experience looking for a career change, or a recent high school graduate studying Computer Science, we accept candidates at all points in their career.
        <ol>
            <li>You have a technology background: Formal education, technical training, job experience, or hobbyists</li>
            <li>You want to work in tech as a career</li>
            <li>You are able and disciplined to work in a self-instructed training environment</li>
            <li>You work well with others. The ability to collaborate on teams is essential</li>
            <li>You possess leadership abilities</li>
        </ol>

        <br />
        <h3>Media Articles:</h3>
        <img src="/img/CrainsDet.jpg" alt="Crain's Detroit" height="100" width="100" />
        <a href="https://www.crainsdetroit.com/article/20170908/news/638441/experienceit-shakes-up-training-format-with-online-evening-programs" target="_blank" rel="external" hreflang="en" type="text/html">
            Click Here to Read!
        </a>

    </p>
</div>