.main-page {
    background-color:orange;
}

.header-img {
    width:100%;
    height: 300px;
}
.color-box {
    width: 100px;
    height: 100px;
    position: relative;
    background-color:green;
}
.student-form {
    padding: 20px; padding-bottom: 15px
}

.student-form label {
    display: block
}

.student-form textarea {
    padding: 8px;
    width: 100%;
    overflow-y: auto;
}

.messageOfDay {
    width:100%;
}


.carousel-inner .carousel-item img{
    height:400px;
}

#UncompletedAssignments {
    float: left;
    width: 33%;
}

#UnAssignments {
    height:500px;
    width:100%;
}

#CompletedAssignments {
    float: Right;
    width: 33%;
}

#ComAssignments {
    height: 500px;
}

.p-box {
    height:400px;
    position:relative;
}
.block {
    padding: 5px;
    float: left;
    width: 33%;
}
