.color-box {
    width: 100px;
    height: 100px;
    position: relative;
    background-color:green;
}
.student-form {
    padding: 20px; padding-bottom: 15px
}

.student-form label {
    display: block
}

.student-form textarea {
    padding: 8px;
    width: 100%;
    overflow-y: auto;
}

.messageOfDay {
    width:100%;
}


.carousel-item .img{
    height:500px;
}

#UncompletedAssignments {
    float: left;
    width: 33%;
}

#UnAssignments {
    height:200px;
}

#CompletedAssignments {
    float: Right;
    width: 33%;
}

#ComAssignments {
    height: 200px;
}