
@{
    ViewBag.Title = "AllAssignments";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

}

<link rel="stylesheet" type="text/css" href="../css/style.css">



<div>
    <div id="UncompletedAssignments">
        <label>Uncompleted Assignments</label>
        <textarea id="UnAssignments"></textarea>
    </div>
    <div>

    </div>
    <div id="CompletedAssignments">
        <label>Completed Assignments</label>
        <textarea id="ComAssignments"></textarea>
    </div>

</div>