@model IEnumerable<ExperienceIT_Final_Project.Models.Assignment>

@{
    ViewBag.Title = "AllAssignments";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

}

<link rel="stylesheet" type="text/css" href="../css/style.css">
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div>
    <label>Uncompleted Assignments</label>
    <br />

    <table id="UncompleteAssignments" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Assignment</th>
        </thead>
        <tbody>


            @foreach (var a in Model)
            {
                <tr>
                    <td>@Html.ActionLink(a.Name, "Details", "Student", new { id = a.Id }, null)</td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>