@model IEnumerable<ExperienceIT_Final_Project.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

    var fullname = "";
    var lastassign = 0;
    var assignDue = 5;
}

@foreach (var s in Model)
{
    if (User.Identity.Name == s.Email)
    {
        fullname = s.FirstName + " " + s.LastName;
        lastassign = s.LastAssignment;
    }
}


<link rel="stylesheet" href="../css/style.css" />
<h2>
    Welcome @fullname
</h2>
<br />




<textarea class="messageOfDay" name="messageOfDay" placeholder="This will be the Message of the Day" readonly></textarea>


<form class="student-form">
    <div>
        <label>Last Assignment Completed</label>
        <textarea placeholder="this will list the last assignment completed">@lastassign</textarea>
        <br />
        <label> Current Assignment</label>
        <textarea placeholder="This will list the current assignment">@(lastassign + 1)</textarea>
        <br />
        <label>Assignment Due</label>
        <textarea placeholder="this will show the due date">@assignDue</textarea>
        <br />
        <label>Progress Indicator</label>

       @if (assignDue == lastassign)
       {
        <label>current</label>
        <div class="color-box-current"></div>
       }
        else if ((assignDue - lastassign) < 2)
        {
            <label>close</label>
            <div class="color-box-close"></div>
        }
        else if (assignDue < lastassign)
        {
            <label>ahead</label>
            <div class="color-box-ahead"></div>
        }
        else
        {
        <label>behind</label>
        <div class="color-box-behind"></div>
        }


    </div>
</form>